.navBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #EAEAEB;
  background: url('../../assets/images/game_bg.png');
}

#logo{
  display: inline-block;
  background: url('../../assets/images/logo-1.png') no-repeat;
  background-size: cover;
  margin: 12px 10px 12px 32px;
  width: 60px;
  height: 60px;
  min-width: 60px;
}

#heading{
  flex: 4;
  padding: 24px 0px 8px 10px;
  height: 60px;
  font-size: 1.4em;
  font-weight: bold;
}


